@font-face {
  font-family: Lato;
  src: url(https://fonts.googleapis.com/css?family=Lato&display=swap)
}
:root {
  font-size: 16px;
}
 .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: #0F273E;
}
/*
* Where the sidemenu items lay
*/

.sidebar-sticky {
  position: fixed;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #FFFFFF;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #FFFFFF;
}

.sidebar .nav-link.active {
  color: #007bff;
}


.nav {
  height: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.logo-text {
  font-size: 1.5rem;
}

.logo {
  height: 150px;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: #007bff;
}

