<nav class="col-md-2 d-none d-md-block sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <div class="logo">
        <li class="logo-text link-text">
          <a class="nav-link" href="#">
            <span data-feather="menu"></span>
            AlterMoodle
          </a>
        </li>
      </div>
      <li class="nav-item">
        <a class="nav-link" routerLink="dashboard">
          <span data-feather="home"></span>
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="activity"></span>
          Stats
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="list"></span>
          TODO
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="user"></span>
          Account
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="log-out"></span>
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>
