  <div class="row no-gutters border-bottom">
    <div class="col-md-2">
      <div class="card-body">
        <span data-feather="alert-circle" class="card-text"></span>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text props">{{this.assignmentCourse}} : {{this.assignmentTitle}}</div>
        <p class="card-text"><small class="text-muted">Remainig : {{this.duration | date:'HH:mm:ss'}} - </small><a href="{{this.assignmentURL}}"><small>URL</small></a>
        </p>
      </div>
    </div>
  </div>
