@font-face {
  src:  url('https://fonts.googleapis.com/css?family=Lato&display=swap');
  font-family: 'Lato', sans-serif;
}
.LoginCard {
  position: absolute;
  width: 465px;
  height: 572px;
  left: 728px;
  top: 254px;
  background-color: #FFFFFF;
  /*Adding shadow and rounded corners*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
}

.LoginCard:hover {
  /*Deeper shadow upon mouser hover*/
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:#F8F8F8;
  --web-view-name: Login;
  --web-view-id: Login;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#altermoodle {
  position: relative;
	left: 130px;
	top: 93px;
	overflow: visible;
	width: 205px;
	white-space: nowrap;
	line-height: 65px;
	margin-top: -15.5px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
  color: rgba(0,121,234,1);
	letter-spacing: 0.25px;
}

#password {
  top: 50px;
  position: relative;
}

input[type=text] {
  position: relative;
  display: block;
  margin : 0 auto;
  top: 150px;
	width: 345px;
	height: 15px;
  border: 2px solid #0079EA;
  border-radius: 45px;
  padding: 12px;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

input[type=text]:focus {
  outline: none;
}

input[type="button"] {
  position: relative;
  display: block;
  margin : 0 auto;
  top: 250px;
  overflow: visible;
  width: 345px;
  height: 45px;
  cursor: pointer;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #FFFFFF;
  background-color: #0079EA;
  border-radius: 45px;
  border: none;
  outline:none;
}

input[type="button"]:focus {outline:0;}

#createAccount {
  position: relative;
  display: block;
  margin : 0 auto;
  top: 260px;
  text-align: center;
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  color: #0079EA;
}

