@font-face {
  font-family: Lato;
  src: url(https://fonts.googleapis.com/css?family=Lato&display=swap)
}

.main-form {
    width: 450px;
    font-family: 'Lato', sans-serif;
}

.btn-primary {
  width: 80%;
}

body {
  background-color: #F8F8F8;
}
