<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Login</title>

</head>

<body>
  <div class="row h-100 justify-content-center align-items-center">
    <form action="" class="main-form needs-validation shadow-sm p-3 mb-5 bg-white rounded" novalidate>
      <div class="row">
        <div class="col text-center">
          <img src="../../assets/atlermoodle.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="firstname">Firstname</label>
            <input type="text" name="firstname" id="firstname" class="form-control">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="lastname">Lastname</label>
            <input type="text" name="lastname" id="lastname" class="form-control">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" class="form-control" required>
        <div class="invalid-feedback">Please enter a valid username.</div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control">
      </div>
      <div class="form-group">
        <label for="moodletoken">Moodle Token</label>
        <input type="moodletoken" name="moodletoken" id="moodletoken" class="form-control"
        data-toggle="tooltip" data-placement="right" title="Contact your Moodle administrator to retrieve your moodle token.">
        <small class="form-text text-muted">
          Contact your Moodle administrator to retrieve your moodle token.
        </small>
      </div>
      <div class="row">
        <div class="col text-center">
          <button type="submit" class="btn btn-primary text-center">Register</button>
        </div>
      </div>
    </form>
  </div>
</body>

</html>
