<ng-container *ngIf="this.successMessageSave">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Saved!</h4>
    <p>Your submission has been successfully saved . Don't forget to submit it to moodle using the "Submit" button once you have finished !</p>
  </div>
</ng-container>
<ng-container *ngIf="this.successMessageUpload">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Uploaded!</h4>
    <p>Your submission has been successfully upload . You can check your submission via this <a href="{{this.url}}">URL</a>  !</p>
  </div>
</ng-container>
<div *ngIf="this.bodyArrived">
  <div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Warning!</h4>
    <hr>
    <p>Before submitting, please make sure to save your work before.</p>
    <p class="mb-0">Failing to do so, will result in the submission of the last saved work.</p>
  </div>
  <form role="form" #submissionForm="ngForm" (ngSubmit)="onSubmit(submissionForm)">
    <ckeditor [(ngModel)]="contentdata.content" name="content" #content="ngModel" [editor]="Editor" [data]="this.body" (ready)="onReady($event)"></ckeditor>
    <button type="submit" class="btn btn-primary mt-3" (click)="onSaveSubmission()">Save</button>
    <button type="submit" class="btn btn-warning mt-3 ml-3" (click)="onSubmitSubmission()">Submit</button>
  </form>

</div>
