<div class="card mb-3 rounded shadow-sm" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{this.course._id}}</h5>
    <p class="card-text">Total Assignments: {{this.course.assignment.length}}</p>
  </div>
</div>
<h4>Assignments</h4>
<div class="table-responsive">
  <table class="table shadow-sm table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Due Date</th>
        <th scope="col" class="text-center">URL</th>
        <th scope="col" class="text-center">Status</th>
        <th scope="col" class="text-center" >Actions</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let assignment of this.course.assignment">
      <ng-container *ngIf="!this.assignment.status">
      <td align="center">{{assignment?.name}}</td>
      <td align="center" [innerHTML]="assignment?.description"></td>
      <td align="center">{{assignment?.expDate}}</td>
      <td align="center"><a href="{{assignment?.url}}">Link</a></td>
      <td align="center" >
        <span  class="status unfinished">Pending</span>
      </td>
      <td align="center">
        <div class="btn-group mr-2" role="group" aria-label="Done">
          <button type="button" class="btn btn-success" (click)="done(assignment)">Done</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Do">
          <button type="button" class="btn btn-primary" (click)="onSelect(assignment)">Do it</button>
        </div>
      </td>
    </ng-container>
    </tr>
    <tr *ngFor="let assignment of this.course.assignment">
      <ng-container *ngIf="this.assignment.status">
      <td align="center">{{assignment?.name}}</td>
      <td align="center" [innerHTML]="assignment?.description"></td>
      <td align="center">{{assignment?.expDate}}</td>
      <td align="center"><a href="{{assignment?.url}}">Link</a></td>
      <td align="center" >
        <span  class="status finished">Finished</span>
      </td>
      <td align="center">
        <div class="btn-group mr-2" role="group" aria-label="Done">
          <button type="button" class="btn btn-success" (click)="done(assignment)">Done</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Do">
          <button type="button" class="btn btn-primary" (click)="onSelect(assignment)">Do it</button>
        </div>
      </td>
    </ng-container>
    </tr>
  </tbody>
  </table>
</div>
<h4>Statistics</h4>
<app-course-progress></app-course-progress>

