  <div class="container custom-border w-100 ">
    <div class="row w-100 align-items-center">
      <div class="col-2"><img src="../../assets/defaultAvatar.png" alt="" srcset=""></div>
      <div class="col-9">
        <button type="button" class="btn btn-primary d-flex flex-row">
          <img src="../../assets/uploadIcon.png" alt="" srcset="">
          Upload
        </button>
        <p class="custom-directions">
          Maximum image size is 4MB <br>
          The following extensions are allowed : png, jpg
        </p>
      </div>
    </div>
    <div class="border-top"></div>
    <div class="row">
      <div class="d-flex flex-column">
        <div class="col offset-2 custom-account">
          Account Info
        </div>
        <div class="col offset-2">
          <div class="form d-flex felx-row">
            <div class="col">
              <div class="form-group custom-form-group">
                <label for="fullname">Full Name</label>
                <input type="text" name="fullname" id="fullname" class="form-control" required>
              </div>
              <div class="form-group custom-form-group">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" class="form-control" required>
              </div>
              <div class="form-group custom-form-group">
                <label for="moodletoken">Moodle Token</label>
                <input type="text" name="moodletoken" id="moodletoken" class="form-control" required>
              </div>
              <div class="form-group">
                <button class="btn btn-success">Save</button>
              </div>
            </div>
            <div class="col">
              <div class="form-group custom-form-group">
                <label for="fullname">Old Password</label>
                <input type="text" name="fullname" id="fullname" class="form-control" required>
              </div>
              <div class="form-group custom-form-group">
                <label for="email">New Password</label>
                <input type="text" name="email" id="email" class="form-control" required>
              </div>
              <div class="form-group custom-form-group">
                <label for="moodletoken">Confirm New Password</label>
                <input type="text" name="moodletoken" id="moodletoken" class="form-control" required>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


