  <div class="row h-100 justify-content-center align-items-center">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="main-form shadow-sm p-3 mb-5 bg-white rounded">
      <div class="row">
        <div class="col text-center">
          <img src="../../assets/atlermoodlev2.png" alt="">
        </div>
      </div>
         <div class="form-group">
          <div *ngIf="this.errMsg">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <h4 class="alert-heading">Oops.. !</h4>
              {{this.errMsg}}
            </div>
          </div>
         </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="firstName">Firstname</label>
            <input formControlName="firstName" type="text" name="firstName" id="firstName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First Name is required</div>
              <div *ngIf="f.firstName.errors.pattern">First Name should contain characters and spaces only
              </div>
              <div *ngIf="f.firstName.errors.minlength">First Name should contain at least 2 characters
              </div>
              <div *ngIf="f.firstName.errors.maxlength">First Name should not exceed 255 characters</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="lastName">Lastname</label>
            <input formControlName="lastName" type="text" name="lastName" id="lastName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
              <div *ngIf="f.lastName.errors.pattern">Last Name should contain characters and spaces only
              </div>
              <div *ngIf="f.lastName.errors.minlengt">Last Name should contain at least 2 characters</div>
              <div *ngIf="f.lastName.errors.maxlength">Last Name should not exceed 255 characters</div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input formControlName="email" type="text" name="email" id="email" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input formControlName="password" type="password" name="password" id="password" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          <div *ngIf="f.password.errors.pattern">Password requires a minimum of a MAJ, special character too!</div>
        </div>
      </div>
      <div class="form-group">
        <label for="moodletoken">Moodle Token</label>
        <input formControlName="moodleToken" type="text" name="moodletoken" id="moodletoken" class="form-control"
          data-toggle="tooltip" data-placement="right"
          title="Contact your Moodle administrator to retrieve your moodle token."
          [ngClass]="{ 'is-invalid': submitted && f.moodleToken.errors }">
        <div *ngIf="submitted && f.moodleToken.errors" class="invalid-feedback">
          <div *ngIf="f.moodleToken.errors.required">MoodleToken is required</div>
          <div *ngIf="f.moodleToken.errors.minlength">MoodleToken must be exactly 32 characters</div>
          <div *ngIf="f.moodleToken.errors.maxlength">MoodleToken must be exactly 32 characters</div>
        </div>
        <small class="form-text text-muted">
          Contact your Moodle administrator to retrieve your moodle token.
        </small>

      </div>
      <div class="form-group">
        <div class="row">
          <div class="col text-center">
            <button [disabled]="loading" type="submit" class="btn btn-primary text-center">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Register
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col text-center">
            <a routerLink="/login" class="text-center">Already have an account ? Login</a>
          </div>
        </div>
      </div>
    </form>
  </div>
