<div class="d-flex justify-content-end flex-wrap flex-md-nowrap pt-3 pb-2 mb-3">
  <div class="btn-group">
    <app-notifications></app-notifications>
  </div>
  <div class="btn-group">
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span data-feather="user"></span>
      {{this.fullName}}
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <button class="dropdown-item" type="button">Account</button>
      <button class="dropdown-item" type="button">Account</button>
      <button class="dropdown-item" type="button">TODO</button>
      <div class="dropdown-divider"></div>
      <button class="dropdown-item" type="button">Logout</button>
    </div>
  </div>
</div>
